
.center
{
position: relative;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* End Non-Essential  */
.property-card {
    position: relative;
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url("../assets/Colored\ Shapes.svg") no-repeat cover center;

}
.property-card
{
  filter:brightness(1.2);
  height:75vh;
  width:50vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  border-radius: 10%;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #5f1a1a, -15px -15px 27px #753939;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */
.property-card:hover{
    opacity: 1;
    filter:brightness(0.5) blur(6px);
    transition-delay:0.6s;
}

.property-image
{
  height:50vh;
  filter:saturate(1.8);
  width:100%;
  padding:1em 2em;
  position:Absolute;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  background-image:url('../assets/me-3.png');
  background-size:cover;
  background-repeat:no-repeat;
  border-radius: 3%;
}

/* Bottom Card Section */

.property-description
{
  background-color:transparent;
  width: 100%;
  height:12em;
  color:bisque;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.property-description h2{
    font-family: 'Silkscreen', cursive;
    padding-left: auto;
    padding-right:auto ;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:60em;
}
 
.property-card:hover .property-image img{
    transform:scale(0.1) !important;
}

.property-card:hover .property-social-icons
{
  background-color:rgb(241, 234, 234);
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
.content{
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    font-size: larger;
    text-align: justify;
    pointer-events: none;
    overflow: hidden;
    margin-top: 10%;
    max-width: 45vh;
    position:absolute;   
}

#content-id{
    opacity: 0;
    z-index: -1;
}
.content ul{
    color:rgb(255, 246, 246);
    left:10px;
    transition: all 1s;
}

#card-id:hover ~#content-id{
    z-index: 2;
    transition: all 0.7s;
    transition-delay: 1s;
    opacity: 1;
}


/* Font-awesome Styling */
.fa-10x{
    font-size: 12em !important;
}

/* Links Styling starts */
.links{
    position: absolute;
    min-height: 100vh;
    min-width: 150vh;

}

.links>i{
    filter:brightness(0.3);
}

.links>i:hover{
    transition: all .3s;
    scale: 120% !important;
    color:#e7c9c9 !important;
    filter:brightness(1) drop-shadow(4px 2px 2px rgb(65, 15, 15)) !important;
}
.links i:nth-child(2):hover{
    transform: rotate(5deg);

}
.links i:nth-child(3):hover{
    transform: rotate(5deg);

}
.links i:nth-child(4):hover{
    transform: rotate(23deg);


}
.links i:nth-child(5):hover{
    transform: rotate(30deg);


}
.links i:nth-child(6):hover{
    transform: rotate(35deg);


}
.links i:nth-child(7):hover{
    transform: rotate(-30deg);
    

}
.links i:nth-child(8):hover{
    transform: rotate(30deg);

}
.links i:nth-child(2){
    position: relative;
    left: 200px;
    top:350px;
    transform: rotate(20deg);
}
.links i:nth-child(3){
    position: relative;
    left: -500px;
    top:500px;
    transform: rotate(-10deg);
}
.links i:nth-child(4){
    position: relative;
    float: right;
    top:450px;
    transform: rotate(8deg);

}
.links i:nth-child(5){
    position: relative;
    top:10px;
    left: -300px;
    transform: rotate(40deg);

}
.links i:nth-child(6){
    position: relative;
    top:150px;
    left: -80px;
    float: left;
    transform: rotate(65deg);

}
.links i:nth-child(7){
    position: relative;
    top:350px;
    left: 140px;
    transform: rotate(-45deg);

}
.links i:nth-child(8){
    position: relative;
    top:0px;
    left: 220px;
    transform: rotate(45deg);

}
/* .links{
    position: relative;

}
.links i{
    position: absolute;
}

.links i:nth-child(1){
    top: 100px;
}

.links i:nth-child(2){
    top: 100px;
}

.links i:nth-child(3){
    top: 100px;
}

.links i:nth-child(4){
    top: 100px;
}

.links i:nth-child(5){
    top: 100px;
} */
/* Links styling ends */

/* Media Query */
@media (max-width:1500px) {
    .content{
        margin-top: 14%;
    }
}
@media (max-width:1200px) {
    .content{
        margin-top:20%;
    }
}

@media (max-width:800px) {
    .ul-class{
        letter-spacing: 2px;
    }
    .content{
        margin-top:30%;
    }
}
@media (max-width:600px) {

    .content{
        margin-top:40%;
    }
}
@media (max-width:400px) {
    .ul-class{
        letter-spacing: 2px;
    }
    .content{
        margin-top:50%;
    }
}
@media(max-width:100px){
    .ul-class{
        letter-spacing: 1px;
    }
}