section{
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 100vh;
    
}
.hidden h1{
    color:white;
    transform: scale(0);
    transition: all 1.2s;
}
.show h1{
    top:0;
    position: absolute;
    transform: scale(2);
    transition: all 1.2s;
}

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform:translateX(-100%);
    transition: all 1.2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}