h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}
.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* End Non-Essential  */

.property-card
{
  height:75vh;
  width:50vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #5f1a1a, -15px -15px 27px #753939;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:50vh;
  filter:saturate(1.8);
  width:100%;
  padding:1em 2em;
  position:Absolute;
  top:5px;
  left: 5px;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  background-image:url('../assets/me-3.png');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color:transparent;
  height:12em;
  color:bisque;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
  transition:all 0.4s cubic-bezier(0.1, 0.1, 0.1, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:60em;
}

.property-card:hover .property-image img{
    transform:scale(0.1) !important;
}

.property-card:hover .property-social-icons
{
  background-color:rgb(241, 234, 234);
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
