.projects{
   display: flex;
}

.project{
    min-height: 20vh;
    border-radius: 10px;
    margin-right: 40px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition-property: all smooth;
}

.project img{
    border-radius: 20px;
    height: 60vh;
}
.project:nth-child(2){
    transition-delay: 100ms;
}

.project:nth-child(3){
    transition-delay: 300ms;
}

.project:nth-child(4){
    transition-delay: 500ms;

}


/* card styling starts */


.container {
    position: absolute;
    height: 600px;
    width: 1200px;
    top: 300px;
    display: flex;
  }
  
  .card {
    display: flex;
    height: 500px;
    width: 900px;
    background-color: #4d3b3b;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem rgb(0, 0, 0);
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  /* card styling ends */



  /* Inner card styling starts */
#desc-tech{
  opacity: 0;
}
.details:hover #desc-tech{
    visibility:visible;
}

.details{
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 150px;
}

.details hr{
  opacity: 0;
  transform: scale(0);
  transition: all 1.5s;
}
.card:hover hr{
  transform: scale(100%);
  opacity: 1;
}

/* Inner Card styling ends */

/* Blinker Effect
.blinker-container{
  text-align: center;
  align-items: center;
  font-size: 70px;
}
.blink:nth-child(1) {
  animation: blinker 200ms infinite;
  color:wheat;
}
.blink:nth-child(2) {
  animation: blinker 200ms infinite;
  color:wheat;
}
.blink:nth-child(3) {
  animation: blinker 700ms infinite;
  color:wheat;
}.blink:nth-child(4) {
  animation: blinker 1s infinite;
  color:wheat;
}
.blink:nth-child(5) {
  animation: blinker 150ms infinite;
  color:wheat;
}
.blink:nth-child(6) {
  animation: blinker 1.04s infinite;
  color:wheat;
}.blink:nth-child(7) {
  animation: blinker 200ms infinite;
  color:wheat;
}
.blink:nth-child(8) {
  animation: blinker 0.1s infinite;
  color:wheat;
}
.blink:nth-child(9) {
  animation: blinker 50ms infinite;
  color:wheat;
}
.blink:nth-child(10) {
  animation: blinker 800ms infinite;
  color:wheat;
}
@keyframes blinker {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
} */

/* Blinker effer ends */

/* Details animator starts*/
.details ul{
  list-style-type:georgian;
  position: relative;
}
.details ul li:nth-child(1){
  position: absolute;
}
.details ul li:nth-child(1):hover ~ li:nth-child(2){
  top:120px;
}
.details ul li:nth-child(2){
  top:40px;
  position: absolute;
  transition: all 1s;
}
.details ul li:nth-child(2) p{
  opacity: 0;
  transition: all 1s;
}
.details ul li:nth-child(1) p{
  opacity: 0;
  transition: all 1s;
}
.details ul li:hover p{
  opacity: 1;
}
/* Details animator ends */
.logo-container{
    display: flex;
    min-height: 24vh;
    flex-direction: column-reverse;
    align-items: center;
}
